{{page-title "Index"}}
<ul class="nav-bar">
    <li class="nav-item"><LinkTo class="nav-ele" @route="index">Home</LinkTo></li>
    <li class="nav-item"><LinkTo class="nav-ele" @route="admin-login">Admin Login</LinkTo></li>
    <li class="nav-item"><LinkTo class="nav-ele" @route="login">Candidate Login</LinkTo></li>
</ul>

<center>
<h1>PRM</h1>
{{#if @model.process}}
    <table>
        <tr>
            <th>Set Id</th>
            <th>Set Name</th>
            <th></th>
        </tr>
        {{#each @model.process as |p|}}
            <tr>
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td><center><LinkTo @route='signup' @model={{p.id}} class="button">Sign Up</LinkTo></center></td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <p>No Process to SignUp :(</p>
{{/if}}
</center>