{{page-title "Viewquestions"}}
{{outlet}}
<ul class="nav-bar">
    <li class="nav-item"><LinkTo class="nav-ele" @route="admin-dashboard">Home</LinkTo></li>
</ul>
<h1>Questions</h1>
<table>
    <tr>
        <th>Qn Id</th>
        <th>Qn Desc</th>
        <th>Set Status</th>
    </tr>
    {{#each @model.questions as |set|}}
        
        <tr>
            <td>{{set.id}}</td>
            <td>{{set.question}}</td>
            {{#if (eq set.status "not attempted")}}
                <td><center>Not Yet Attempted</center></td>
            {{else}}
                {{#if (eq set.status "correct")}}
                    <td><center>Response Given: Correct</center></td>
                {{else}}
                    {{#if (eq set.status "partial")}}
                        <td><center>Response Given: Partial</center></td>
                    {{else}}
                    <td>
                        <form action="http://localhost:8080/PRM_portal/setansstatus">
                            <input type="hidden" value={{@model.uid}} name="uid" />
                            <input type="hidden" value={{set.id}} name="qnid" /> 
                            <input type="radio" id="correct" name="status" value="correct">
                            <label for="correct">Correct</label>
                            <input type="radio" id="partial" name="status" value="partial">
                            <label for="partial">Partial</label> 
                            <input type="radio" id="wrong" name="status" value="wrong">
                            <label for="wrong">Wrong</label><br>
                            <input type="submit" class="button" value="Submit">
                        </form>
                    </td>
                    {{/if}}
                {{/if}}
            {{/if}}
        </tr>
        
    {{/each}}
</table>